@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
	display: block;
}
a{
	text-decoration: none;
}
/*nav*/
.nav{
	width: 100%;
	background: #140c0e;
	height:50px ;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.nav_left{
	margin-left: 17px;
}
.nav_left a img{
	width: 186px;
	height: 50px;
}
.nav_center{
	display: flex;
}
.nav_center a{
	font-size: 14px;
	color:#969b8e;
	line-height: 50px;
	text-decoration: none;
	border-bottom: 0px solid white;
	transition: all .2s;
}
.nav_center a:hover{
	border-bottom: 3px solid white;
	color: white;
}
.nav_center p:hover{
	border-bottom: 3px solid white;
	cursor: pointer;
	color: white;
}
.nav_center a:first-child{
	margin-right: 11px;
}
.nav_center a:last-child{
	margin-left: 11px;
}
.nav_center p{
	font-size: 14px;
	color:#969b8e;
	margin:0 11px;
	border-bottom: 0px solid white;
	line-height:50px;
	transition: all .2s;
	position: relative;
}
.nav_center p:hover{
	border-bottom: 3px solid white;
	cursor: pointer;
}
.nav_right{
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}
.nav_right>a{
	/*display: flex;*/
	margin-right:15px;
}
/*.nav_right>a:hover{
	border-bottom: 3px solid white;
}*/
.nav_right a:nth-of-type(1) img{
	width:15px ;
	height: 13px;
}
.nav_right a:nth-of-type(2) img{
	width:29px ;
	height: 16px;
}
.nav_right a:nth-of-type(3) img{
	width:15px ;
	height: 15px;
}
.nav_right .imgs{
	width:19px ;
	height: 16px;
	margin-right: 15px;
}
.nav_right span{
	font-size: 12px;
	color: #969b8e;
	margin-right: 18px;
}
.lv_log{
	width: 590px;
	height: 343px;
	background: #ebeae5;
	position: absolute;
	top:67px;
	right: 28px;
	z-index: 4;
	display: none;
}
.count{
	width: 296px;
}
.top{
	margin-left: 20px;
}
.top h3{
	font-size: 18px;
	padding-top: 24px;
	font-weight: 100;
	line-height: 18px;
	color: black;
}
.top h5{
	font-size:14px ;
	color: black;
	margin-top: 37px;
	line-height: 14px;
	font-weight: 100;
}
.mid{
	margin-left: 20px;
	margin-top: 28px;
	margin-right: 16px;
	border-right: 1px solid #949494;
}
.mid p{
	font-size: 12px;
	color: #2e2e2e;
	line-height: 12px;
	margin-bottom: 3px;
}
.mid input{
	font-size: 14px;
	color: #757575;
}
.mid p:nth-of-type(2){
	margin-top: 16px;
}
.lv_mid{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}
.lv_mid span{
	color:red;
	font-size: 12px;
	display: none;
}
.lv_mid a{
	font-size: 12px;
	color: #5e5e60;
	text-decoration: underline;
	cursor: pointer;
}
.mid input{
	widows: 256px;
	height: 37px;
}
.registe{
	position: relative;
}
.registe h3{
	font-size:14px ;
	color: black;
	margin-top: 86px;
	line-height: 14px;
	font-weight: 100;
	margin-bottom: 22px;
}
.registe .bottom a{
	font-size: 12px;
	width: 121px;
}
.registe .bottom{
	margin-top: 82px;
}
.registe ul h4{
	color:#5e5e60 ;
	font-size: 12px;
	margin-bottom: 3px;
}
.registe ul li{
	background: url(../img/a6.jpg) no-repeat left center;
	text-indent: 10px;
	line-height: 17px;
	color:#5e5e60 ;
	font-size: 12px;
}
.bottom{
	margin-left: 20px;
	margin-top: 18px;
}
.bottom a{
	display: flex;
	align-items: center;
	color: white;
	font-size:14px ;
	background: #533f34;
	width: 70px;
	height: 37px;

}
.bottom a:hover{
	background: black;
}
.bottom a:hover img{
	transform: translateX(5px);
}
.lv_log .bottom a img{
	width:6px ;
	height: 9px;
	margin-left: 12px;
	margin-right: 10px;
	transition: all .5s;
}

.lv_log .spancl{
	font-size: 24px;
	color: black;
	position: absolute;
	right: -10px;
	top:0px;
	cursor: pointer;
}
.lr{
	position: relative;
}
.lr .san{
	position: absolute;
	top:22px;
	right: -20px;
	width: 0;
	height: 0;
	border:14px solid transparent;
	border-bottom-color:#ebeae5;
	transform: translateX(-50%);
	display: none;
	z-index: 200;
}
/*build*/
.build{
	display: flex;
	flex:1;
}
.all{
	box-sizing: border-box;
	width:74%;
}
.lv_one{
	display: flex;
	justify-content: space-between;
	margin-left: 32px;
	border-bottom: 1px solid #c5bdb5;
}
.lv_one h3{
	color: #202120;
	font-size: 26px;
	line-height: 26px;
	margin-top: 35px;
	margin-bottom: 21px;
	font-weight: 100;
}
.lv_one a{
	color:white ;
	font-size:16px ;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 16px;
	width: 168px;
	height: 42px;
	background: #533f34;;
	margin-top: 30px;
}
.project{
	display: flex;
	justify-content: space-between;
}
.project p:first-child{
	color: #533f34;
	font-size:12px ;
	line-height: 12px;
	margin-top:50px ;
	margin-left: 32px;
}
.project p:last-child{
	color:#5e5e60 ;
	font-size:12px ;
	margin-top: 18px;
	line-height:12px ;
}
.perino{
	margin-left: 32px;
}
.perino h4{
	color:black;
	font-size: 22px ;
	line-height:22px ;
	margin-top: 43px;
}
.perino p{
	color: #2e2e2e;
	font-size: 16px;
}
.cheng{
	display: flex;
	align-items: center;
}
.cheng select{
	width: 520px;
	height: 40px;
	margin-left: 241px;
}
.name{
	display: flex;
	align-items: center;
}
.name input{
	width: 520px;
	height: 40px;
	margin:39px 0;
	margin-left: 241px;
}
.ming{
	align-items: center;
	display: flex;
}
.ming input{
	width: 520px;
	height: 40px;
	margin-left: 241px;
}
.country{
	align-items: center;
	display: flex;
	margin-top: 39px;
}
.country span{
	margin-left: 241px;
}
.logino{
	box-sizing: border-box;
	margin-left: 32px;
}
.logino h4{
	color:black;
	font-size: 22px ;
	line-height:22px ;
	margin-top: 25px;
	margin-bottom: 22px;
}
.tel{
	display: flex;
}
.tel span:nth-child(2){
	display: flex;
	align-items: center;
	width: 91px;
	height: 37px;
	border:1px solid #dbd9cf;
	margin-left: 202px;
}
.tel input{
	width: 259px;
	height: 38px;
	margin-left: 11px;
}
.zheng p{
	color:black ;
	font-size: 14px;
	line-height:14px ;
	margin-top: 36px;
	margin-bottom: 14px;
}
.yan{
	display: flex;
}
.yan p{
	color:black ;
	font-size: 14px;
	line-height:14px ;
	margin-top: 36px;
}
.zheng{
	margin-left: 229px;
}
.lv_span{
	display: flex;
	align-items: center;
}
.lv_span span{
	display: flex;
	align-items: center;
	width: 138px;
	height: 51px;
	border:1px solid #e5e5e5;
}
.lv_span input{
	width: 139px;
	height: 51px;
	border-left: none;
}
.ma{
	margin-left: 282px;
	display: flex;
	margin-top: 16px;
	align-items: center;
}
.ma img{
	width: 24px;
	height: 24px;
}
.ma img:first-child{
	margin-right: 9px;
}
.ma input{
	padding: 12px 33px;
	background: #aaabbb;
	border-radius: 4px;
	outline: none;
	color: white;
	margin-left: 129px;
}
.get{
	display: flex;
	margin-top: 42px;
}
.get input{
	width:363px ;
	height: 39px;
	margin-left: 185px;
}
.get a{
	width: 136px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eee5da;
	margin-left: 12px;
	color: #c0c0c0;
	font-size: 12px;
}
.email{
	display: flex;
	margin-top: 21px;
}
.email input{
	width: 520px;
	height: 39px;
	margin-left:182px ;
}
.again{
	display: flex;
	margin-top: 21px;
}
.again input{
	width: 520px;
	height: 39px;
	margin-left:148px ;
}
.password{
	display: flex;
	margin-top: 39px;
}
.www{
	display: flex;
	flex-direction: column;
}
.www input{
	width: 520px;
	height: 39px;
	margin-left: 244px;
}
.www span{
	color: #5e5e60;
	font-size: 12px;
	line-height: 12px;
	margin-left: 244px;
}
.sub{
	display: flex;
	margin-top: 25px;
	margin-bottom: 40px;
}
.sub input{
	width: 520px;
	height: 39px;
	margin-left: 206px;
}
.refer input{
	/*font-size: 14px;*/
	color: black;
	/*line-height: 29px;*/
}
.logino p{
	color: #2e2e2e;
	font-size: 16px;
}
.logino .refer input a{
	color: #533f34;
	text-decoration: underline;
}
.btn input{
	display: flex;
	width:74px ;
	height:42px ;
	align-items: center;
	justify-content: center;
	color: white;
	background: #cbc5c1;
	margin-top: 27px;
}
.duan{
	box-sizing: border-box;
	margin-top: 15px;
} 
.duan p{
	color: #5e5e60;
	font-size: 12px;
	line-height: 18px;
	margin-left: 32px;
	margin-bottom: 43px;
}
.sever{
	width: 26%;
	box-sizing: border-box;
	background: #f0f0f0;
	margin-left: 19px;
	padding: 0 20px;
}
.center h3{
	color:#533f34;
	font-size:14px ;
	line-height:14px ;
	margin-top: 40px;
	margin-left:46px;
}
.center a{
	display: flex;
	align-items: center;
	margin-left:37px ;
	margin-top: 5px;
}
.center span{
	color: #533f34;
	font-size: 10px;
}
.register{
	margin-top: 32px;
	background: #ebeae5;
}
.register h3{
	font-size:16px ;
	color: black;
	line-height: 16px;
	font-weight: 100;
	margin-bottom: 3px;
	padding-top: 14px;
	margin-left:9px;
}
.register ul{
	margin-left: 9px;
	padding-bottom: 10px;
}
.register ul h4{
	color:#5e5e60 ;
	font-size: 14px;
	line-height: 17px;
}
.register ul li{
	background: url(../img/a6.jpg) no-repeat left center;
	text-indent: 8px;
	line-height: 17px;
	color:#5e5e60 ;
	font-size: 14px;
}
.contact{
	margin-top: 24px;
	padding-bottom: 13px;
	border-bottom: 1px solid #bababa;
}
.contact img{
	width: 6px;
	height:9px ;
	margin-left: 10px;
	margin-right: 8px;
}
.contact a{
	display: flex;
	align-items: center;
}
.contact span{
	color: black;
	font-size: 16px;
	line-height: 16px;
}
/*footer*/
.footer{
	/*height: 51px;*/
	background:#221616 ;
	/*margin-top:13px;*/
}
.lou{
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}
.lou h3{
	color:#bfa69a ;
	font-size: .875em;
	line-height:2.143em ;
}
.lou h3:hover{
	color: white;
}
.lou a img{
	width:11px ;
	height:7px ;
	margin-right: 50px;
	margin-top: 11px;
}
.lv_div{
	display: flex;
}
.lv_two{
	display: flex;
	align-items: center;
}
.lv_two img{
	width: 8px;
	height: 7px;
	margin-right: 7px;
	margin-left: 12px;
}
.lv_two span{
	color:#bfa69a ;
	font-size: .875em;
	line-height:2.143em ;
}
/*lvfooter*/
.lvfooter{
	height: 36px;
	background: #150d0f;
	display: flex;
	align-items: center;
}
.lvfooter a{
	color: #bfa69a;
	font-size: 14px;
	line-height: 14px;
	padding: 0 16px;
}
.lvfooter a:hover{
	color: white;
}
.lvfooter a:first-child{
	padding-left: 20px;
}
.lvfooter span{
	color: #bfa69a;
	font-size: 14px;
	line-height:14px; 
	padding-left: 7px;
}
.lvfooter span:hover{
	color: white;
}
